@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
    background-color: #222;
}
.container {
    font-weight: 800;
    font-style: italic;
}
.container table {
    color: white;
}
.container h1 {
    color: white;
}
.container hr {
    border-top: 1px solid rgb(255, 0, 0);
}
.container a {
    color: rgb(255, 0, 0);
}
